<div class="tilelayoutwrapper">



    <div class="row new-layout">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tile9x3 no-border-left">

            <div class="tile-container ">

                <a href="https://www.tgifridays.com/party-platters" class="order-online-menu">

                    <img alt="TGI Fridays Party Platters" class="tile-image desktop-only" src="/content/dam/images/homepage/hp-super-bowl.jpg"/>
                    <img alt="TGI Fridays Party Platters" class="tile-image mobile-only" src="/content/dam/images/homepage/hp-super-bowl.jpg"/>



                </a>

            </div>



        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="row tile9x1half tile-www-row">

                <div class="tile-container ">

                    <a href="http://www.tgifridays.com/menu/to-go/" class="order-online-menu">

                        <img alt="Order Online" class="tile-image desktop-only" src="/content/dam/images/homepage/fridays-hp-orderonline-bucket-700x350.jpg"/>
                        <img alt="Order Online" class="tile-image mobile-only" src="/content/dam/images/homepage/fridays-hp-orderonline-bucket-700x350.jpg"/>



                    </a>

                </div>



            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 tile9x1half">

                    <div class="tile-container ">

                        <a href="http://www.tgifridays.com/fridays-grill/">

                            <img alt="Fridays Grill" class="tile-image desktop-only" src="/content/dam/images/homepage/hp-fridays-grill.jpg"/>
                            <img alt="Fridays Grill" class="tile-image mobile-only" src="/content/dam/images/homepage/hp-fridays-grill.jpg"/>



                        </a>

                    </div>



                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 tile9x1half">

                    <div class="tile-container ">

                        <a href="http://www.tgifridays.com/party-platters/">

                            <img alt="Order Fridays Party Platter" class="tile-image desktop-only" src="/content/dam/images/homepage/party-platters-wings-hp.jpg"/>
                            <img alt="Order Fridays Party Platter" class="tile-image mobile-only" src="/content/dam/images/homepage/party-platters-wings-hp.jpg"/>



                        </a>

                    </div>



                </div>
            </div>
        </div>
    </div>
    <div class="row new-layout">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tile9x3 no-border-left">

            <div class="tile-container ">

                <a href="https://www.tgifridays.com/rewards/register/">

                    <img alt="TGI Fridays Rewards" class="tile-image desktop-only" src="/content/dam/images/homepage/hp-fridays-mystery-rewards.jpg"/>
                    <img alt="TGI Fridays Rewards" class="tile-image mobile-only" src="/content/dam/images/homepage/hp-fridays-mystery-rewards.jpg"/>



                </a>

            </div>



        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tile9x3 no-border-left">

            <div class="tile-container ">

                <a href="http://www.tgifridays.com/menu/">

                    <img alt="PLAY THE FIELD" class="tile-image desktop-only" src="/content/dam/images/homepage/hp-carousel-football-5app-700x700.jpg"/>
                    <img alt="PLAY THE FIELD" class="tile-image mobile-only" src="/content/dam/images/homepage/hp-carousel-football-5app-700x700.jpg"/>



                </a>

            </div>



        </div>
    </div>
    <div class="row new-layout">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tile-full no-border-left">

            <div class="tile-container ">

                <a href="http://www.tgifridays.com/mobile-app">

                    <img alt="Fridays mobile app" class="tile-image desktop-only" src="/content/dam/images/homepage/fridays-hp-mobileapp-1400x523.jpg"/>
                    <img alt="Fridays mobile app" class="tile-image mobile-only" src="/content/dam/images/homepage/fridays-hp-mobileapp-700x700.jpg"/>



                </a>

            </div>



        </div>
    </div>
    <div class="row new-layout">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tile9x3 no-border-left">

            <div class="tile-container ">

                <a href="http://www.tgifridays.com/menu/drinks">

                    <img alt="Order Fridays Everything But The Booze Now" class="tile-image desktop-only" src="/content/dam/images/homepage/hp-showcase-ebtb-700x700.jpeg"/>
                    <img alt="Order Fridays Everything But The Booze Now" class="tile-image mobile-only" src="/content/dam/images/homepage/hp-showcase-ebtb-700x700.jpeg"/>



                </a>

            </div>



        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tile9x3 no-border-left">

            <div class="tile-container ">

                <a href="http://www.tgifridays.com/lunch/">

                    <img alt="Power to Your Lunch Hour" class="tile-image desktop-only" src="/content/dam/images/homepage/hp-showcase-lunch-700x700.jpg"/>
                    <img alt="Power to Your Lunch Hour" class="tile-image mobile-only" src="/content/dam/images/homepage/hp-showcase-lunch-700x700.jpg"/>



                </a>

            </div>



        </div>
    </div>



    <div></div> </div>



</div>