<head>
    <sly data-sly-include="partials/head.html" data-sly-unwrap/>
    <sly data-sly-include="partials/headlibs.html" data-sly-unwrap/>
</head>
    <body class="page ${currentPage.template.name}">
        <sly data-sly-include="partials/main.html" data-sly-unwrap/>
        
        <section class="cart-view">
            <div class="countdown-area"></div>
            <div class="checkout-header">
                <h1>Your Order</h1>
            </div>

            <div class="alert-area"></div>

            <form>
                <table width="100%">
                    <tr class="table-header">
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Price</th>
                    </tr>

                    <% if(cart.length > 0) { %>
                    <% _.each(cart, function(item) { %>
                    <tr>
                        <td class="order-item-description">
                            <div class="order-product-image" style="background-image: url('https://tgifridays-prod.adobecqms.net/content/dam/images/eat/<%= item.attributes.code %>.jpg');"></div>
                            <div class="order-item-info">
                                <h3><%= item.attributes.name %></h3>
                                <div class="mobile-price">
                                    <p><strong>Price:</strong> <%= item.attributes.priceUpchargedFormatted %></p>
                                </div>
                                <p class="sides"><%= item.attributes.componentsList %></p>



                                <ul class="mobile-item-buttons">
                                    <li>
                                        <p class="delete select-btn" data-model-id="<%= item.id %>">Delete</p>
                                    </li>
                                    <li>
                                        <a href="/menu/<%= item.attributes.code %>/edit/<%= item.id %>" class="select-btn editButton">Edit</a>
                                    </li>
                                    <li>
                                        <div class="select-wrapper">
                                            <label class="visuallyhidden" for="<%= item.id %>one">Quantity</label>
                                            <select id="<%= item.id %>one" data-model-id="<%= item.id %>">
                                                <% for(var i =0; i < 10; i++) { %>
                                                <% if((i+1) === item.attributes.quantity) { %>
                                                <option value="<%= (i+1) %>" selected="selected"><%= (i+1) %></option>
                                                <% } else { %>
                                                <option value="<%= (i+1) %>"><%= (i+1) %></option>
                                                <% } %>
                                                <% }%>
                                            </select>
                                            <span class="icon icon-select"></span>
                                        </div>
                                    </li>
                                </ul>


                                <p class="delete select-btn desktop-only" data-model-id="<%= item.id %>">Delete</p>
                                <a href="/menu/<%= item.attributes.code %>/edit/<%= item.id %>" class="select-btn editButton desktop-only">Edit</a>
                            </div>
                        </td>
                        <td class="item-quantity desktop-only">
                            <div class="select-wrapper">
                                <label class="visuallyhidden" for="<%= item.id %>two">Quantity</label>
                                <select id="<%= item.id %>two" data-model-id="<%= item.id %>">
                                    <% for(var i =0; i < 10; i++) { %>
                                    <% if((i+1) === item.attributes.quantity) { %>
                                    <option value="<%= (i+1) %>" selected="selected"><%= (i+1) %></option>
                                    <% } else { %>
                                    <option value="<%= (i+1) %>"><%= (i+1) %></option>
                                    <% } %>
                                    <% }%>
                                </select>
                                <span class="icon icon-select"></span>
                            </div>
                        </td>
                        <td class="item-price">
                            <%= item.attributes.priceUpchargedFormatted %>
                        </td>
                    </tr>
                    <% }); %>
                    <% } else { %>
                    <tr>
                        <td>
                            <h3>You don't have anything in your cart. <a href="/menu/">You can add items to your cart here.</a></h3>
                        </td>
                    </tr>
                    <% } %>
                </table>

                <div class="cart-footer">
                    <div class="tip-panel">
                        <h2>Add Tip</h2>
                        <div class="button-holder" id="TipButtons">
                            <button class="btn <% if(tipAmount == 0) { %>button-red<% } %>" data-tip-selection="0" data-tip-amount="0" >None</button>
                            <button class="btn <% if(tipAmount == 1) { %>button-red<% } %>" data-tip-selection="1" data-tip-amount="0.05" >5%</button>
                            <button class="btn <% if(tipAmount == 2) { %>button-red<% } %>" data-tip-selection="2" data-tip-amount="0.1" >10%</button>
                            <button class="btn <% if(tipAmount == 3) { %>button-red<% } %>" data-tip-selection="3" data-tip-amount="0.15" >15%</button>
                            <button class="btn <% if(tipAmount == 4) { %>button-red<% } %>" data-tip-selection="4" data-tip-amount="0.2" id="CustomTip" >Custom</button>
                            <div class="custom-tip input-wrapper" id="ChangeCustomTip" style="<% if(tipAmount == 4) { %>display: block;<% } %>">
                                <input type="text" id="CustomTipTotal" name="CustomTipTotal" />
                                <label class="placeholder" for="CustomTipTotal">Custom Tip Amount<sup class="required-indicator">*</sup></label>
                            </div>
                        </div>
                    </div>

                    <section class="order-total-price">
                        <p class="details">Subtotal: $<span id="SubTotal"><%= subTotal %></span></p>
                        <p class="details">Tip: $<span id="TipTotal">0.00</span></p>
                        <p class="total">Total <em>(Before Tax)</em>: $<span id="CheckTotal"><%= total %></span></p>
                    </section>
                </div>

                <div class="cta-wrapper">
                    <% if(cart.length > 0) { %>
                    <button class="button-red--full" id="checkoutButton">Check Out</button>
                    <% } %>
                    <a href="/menu/" class="button-outline-black-full addMoreFoodButton">Add more food</a>
                </div>
            </form>
        </section>
        <sly data-sly-include="partials/footlibs.html" data-sly-unwrap/>


</body>
