<li class="category-tile " data-product="1005" data-cat="traditional-wings">
    <a href="traditional-wings/1005/">
        <div class="category-tile-image" style="background-image: url('https://dam.tgifridays.com/content/dam/images/eat/1005.jpg')"></div>
        <h3 class="category-tile-name">Traditional Wings</h3>
        <div class="ordering-details">



            <span class="price">$10.60</span>


            <button class="button-red">Add to Order</button>


        </div>
    </a>
</li>