<div>

    <div id="page-wrapper">
        <div id="content" class="content-locations">


            <header class="subpage-banner locations-banner">
                <h1 class="subpage-banner-headline">${pageProperties.navTitle}</h1>
            </header>

            <div class="find-wrapper subpage-view">
                <!-- locationList Component -->

                <div class="locations-list" data-sly-resource="${'div' @ resourceType='fridays-demo/components/content/locationList'}"></div>

            </div><!--end find-wrapper-->

        </div><!--end #content-->
    </div><!--end #page-wrapper-->

    <div class="loading-overlay"></div>


</div>
